.logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
  
}

.title{

}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
}

.autoLogin-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 0.5rem;
}

.platform-start-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}



.splash-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* 배경색 */
    z-index: 9999;
  }
  
  .splash-logo {
    width: 200px;
    opacity: 0;
    animation: fadeIn 5s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; transform: scale(0.8); }
    100% { opacity: 1; transform: scale(1); }
  }